<div class="shout_box">
<div class="chat_header" onclick="$(this).next().slideToggle();">Shout Box</div>
  <div class="toggle_chat">
  <div class="message_box">
    </div>
    <div class="user_info">
    <input name="shout_message" id="shout_message" type="text" placeholder="Type Message & Hit Enter" maxlength="160" />
    <button class="btn btn-default" value='send'></button>
    </div>
    </div>
</div>

